{%-include extractinfo_publication.html entry=include.entry-%}
<div class="project-card">
  <div class="project-info">
  <h3>{{ title }}</h3>
  <p>{{ date | date: "%-d %B %Y" }}</p>
  <p>
    {%-for person in authors-%}
    {%-include listperson.html seperator=', '-%}
    {%-endfor-%}
  </p>
  <p>{% if journal %}<i>{{ journal }}</i>, {%elsif container-title %}<i>{{ container-title }}</i>, {% endif %}{%if publisher %}{{ publisher }}{% endif %}{% if volume %} {{ volume }}{% endif %}{% if number %}({{number}}){%endif%}{% if volume or number and firstpage %}:{%endif%}{% if firstpage %}{{ firstpage }}{% endif %}{% if lastpage %}-{{ lastpage }}{% endif %}{% if year %}, {{ year }}{% endif %}</p>
  </div>
  {% if url %}
  <a href="{{ url }}" class="learn-more">Read More ></a>
  {% endif %}
</div>
