{% if include.people != nil %}
{% assign people_size = include.people | size %}
{% if people_size != 0 %}

<h2>Related People</h2>

{% for person_slug in include.people %}
{% for person in site.people %}
{% if person.slug == person_slug %}
{% include extractname.html entry=person %}
<a href="{{ person.url }}">
  <div class="person-card">
    <div class="person-image">
      <img src="{{site.data.images.directory | relative_url }}/{%if person.image and person.image != "" %}{{person.image}}{% else %}{{site.data.images.person_placeholder}}{%endif%}" alt="Image of {{name}}">
    </div>
    <div class="person-info">
      <h3>{{ name }}</h3>
      {% if person.position %}
      <p>{{ person.position }}{% if person.institution %}, {{ person.institution }}{% endif %}</p>
      {% else %}
      {% if person.institution %}
      <p>{{ person.institution }}</p>
      {% endif %}
      {% endif %}
    </div>
  </div>
</a>
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}
{% endif %}
