---
layout: page
---

<div class="event-page">
  {%if page.image and page.image != "" %}  
  <div class="event-image">
    <img src="{{ page.image | relative_url }}" alt="Image of {{page.title}}">
  </div>
  {%endif%}
  <div class="event-header">
    <div class="event-links">
      {% if site.ghub.edit %}
      {% include links/edit-link.html %}
      {% endif %}
      
    </div>
  </div>
  <div class="event-info">
    <h2>{{ page.title }}</h2>
    {{ content | markdownify }}
  </div>
  </div>
</div>
