---
layout: page
---

<div class="event-page">
  {%if page.image and page.image != "" %}  
  <div class="event-image">
    <img src="{{ page.image | relative_url }}" alt="Image of {{page.title}}">
  </div>
  {%endif%}
  <div class="event-header">
    <div class="event-links">
      {% if site.ghub.edit %}
      {% include links/edit-link.html %}
      {% endif %}
      
    </div>
  </div>
  <div class="event-info">
    <h2>{{ page.title }}</h2>
    {% if page.start_time %}
    <p><b>Start</b>: {{ page.start_time | date: "%H:%M %Z" }}</p>
    {%endif%}
    {% if page.end_time %}
    <p><b>Finish</b>: {{ page.end_time | date: "%H:%M %Z" }}</p>
    {% endif%}
    {% if page.location %}
    <p><b>Location</b>: {{ page.location }}</p>
    {% endif %}
    {{ content | markdownify }}
  </div>
  </div>
</div>
