---
layout: page
---

<section class="block block__hero block__hero--standard">
  {% if page.featured_image %}<div class="hero__bg">
    <img src="{{ page.featured_image }}">
  </div>{% endif %}
  <div class="container">
    {% include top-row-logo-and-menu.html %}
    {% include second-row-nav-post.html back_to_url="/publications/" back_to_text="Back to publications" %}
  </div>
</section>

<section class="block block__paper-details">
  {{ content }}

{% assign people_involved = "" | split: "" %}

  {% for person in page.author %}
  {% if person.person_page %}
  {% assign people_involved = people_involved | push: person.person_page %}
  {% endif %}
  {% endfor %}
 
{% include page_people.html people=people_involved %}

</section>
